ANTHROPIC_API_KEY=your_key_here
AGENCY_NAME=CopyDTC
AGENCY_EMAIL=brad@copydtc.com
AGENCY_URL=https://copydtc.com
GMAIL_USER=bradley.bieselin@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password_here
CONTACT_EMAIL=bradley.bieselin@gmail.com
